@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$dark-cyan: hsl(185, 75%, 39%);
$saturated-blue: hsl(229, 23%, 23%);
$grayish-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans';
  min-height: 100vh;
  background: $dark-cyan;
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
}
img{
  max-width: 100%;
}

// background circles
.back-images{
  .circle-a{

    img{
      border-radius: 1px solid;

      position: absolute;
      bottom: 290px;
      right: 890px;
    }
  }
  .circle-b{

    img{
      border-radius: 1px solid;

      position: absolute;
      top: 350px;
      right: -140px;
    }
  }
}

.container{
  background: #f4f4f4;
  max-width: 350px;
  border-radius: 20px;
  margin: 0 auto;
  z-index: 1;
}

#top{

  img{
    border-radius: 20px 20px 0 0;
  }

  .profile-image{
    position: relative;
    img{
      border-radius: 50%;
      border: 1px solid #f4f4f4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
#bottom{
  .name-age{
    text-align: center;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.2rem;

    .name{
      color: $saturated-blue;
      font-weight: 700;
      margin-right: 7px;
    }
    .age{
      color: $grayish-blue;
      font-weight: 500;
    }
  }
  .city{
    text-align: center;
    color: $grayish-blue;
    font-weight: 500;
    border-bottom: 1px solid $dark-gray;
    padding-bottom: 2rem;
    font-size: 1.1rem;
  }

  .summary-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    text-align: center;

    .total{
      font-size: 1.3rem;
      font-weight: 700;
      color: $saturated-blue;
    }
    .content{
      padding: 0.5em 0;
      font-size: 0.85rem;
      color: $dark-gray;
      letter-spacing: 1px;
    }
  }
}


.attribution {
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.attribution a {
  color: hsl(223, 28%, 10%);
  font-weight: bold;
}

@import 'mobile';